.Block {
    max-width: 700px;
    margin: auto;
}

.is-hide {
    visibility: hidden;
}

.message {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.cards {
    text-align: center;
}

img {
    width: 200px;
}


.buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

button {
    display: block;
    position: relative;
	width: 160px;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
	color: #5e1261;
	background: #ffe9e8;
    border:1px solid #ffdad9;
    font-size: 17px;
    /* margin-left: 3px; */
}

button:hover {
    background: #ffdad9;
    color: #fff;
	cursor: pointer;
	text-decoration: none;
}

